[submodule "lib/zig-crc"]
	path = lib/zig-crc
	url = https://github.com/Hejsil/zig-crc.git
[submodule "lib/zig-bench"]
	path = lib/zig-bench
	url = https://github.com/Hejsil/zig-bench.git
[submodule "lib/zig-clap"]
	path = lib/zig-clap
	url = https://github.com/Hejsil/zig-clap.git
[submodule "lib/nuklear"]
	path = lib/nuklear
	url = https://github.com/Hejsil/Nuklear-1.git
[submodule "lib/nativefiledialog"]
	path = lib/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "lib/mecha"]
	path = lib/mecha
	url = https://github.com/Hejsil/mecha.git
[submodule "lib/known-folders"]
	path = lib/known-folders
	url = https://github.com/ziglibs/known-folders.git
