[submodule "lib/zig-crc"]
	path = lib/zig-crc
	url = ../../Hejsil/zig-crc.git
[submodule "lib/zig-clap"]
	path = lib/zig-clap
	url = ../../Hejsil/zig-clap.git
[submodule "lib/nativefiledialog"]
	path = lib/nativefiledialog
	url = ../../mlabbe/nativefiledialog.git
[submodule "lib/known-folders"]
	path = lib/known-folders
	url = ../../ziglibs/known-folders.git
[submodule "lib/ziter"]
	path = lib/ziter
	url = ../../Hejsil/ziter.git
[submodule "lib/ston"]
	path = lib/ston
	url = ../../Hejsil/ston.git
[submodule "lib/webview"]
	path = lib/webview
	url = ../../webview/webview.git
[submodule "lib/md4c"]
	path = lib/md4c
	url = ../../mity/md4c.git
